.App {
  text-align: center;
}

.App-logo {
  height: 36px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  box-shadow: 0px 2px 20px 2px #3c475c;
  border-bottom: 1px solid #3c475c;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
}

.App-header > nav > a {
  margin-right: 10px;
}

.App-content {
  padding-top: 20px;
}

.App-nav > a {
  text-decoration: none;
}

.App-nav > a.active,
.App-link {
  color: #61dafb;
}

a,
a:active {
  color: #fff;
}

a:hover {
  color: #ffffffc9;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #282c34;
  margin-top: 57px;
}

::-webkit-scrollbar-thumb {
  background-color: #61dafbe3;
  border-radius: 3px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
